body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #007bff;
}

.menu {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#jogoContainer {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-basis: calc(25% - 10px); /* Define a largura para 25% da largura do container, menos o espaçamento entre as cartas */
}

.card.matched {
  background-color: #28a745;
  color: #fff;
}
